<body class="loginback">
<div class="row">
<h2 >Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <ul class="col-md-14 text-center divborder">
    <li>
     <div class="image col-md-6">
        <%= f.label :image %>
        <%= f.file_field :uimage, id: :user_name ,:class => "button" %>
      </div>
    </li>
    <li>
  <div class=" field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true%>
  </div>
  </li>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions ">
    <%= f.submit "Sign up",:class =>"button " %>
  </div>
<% end %>
</ul>
</div>
<%= render "devise/shared/links" %>
</body>
<body>
    <div class="container">
      <div class="row main">
        <div class="panel-heading">
                 <div class="panel-title text-center">
                    <h1 class="title">Welcome To Otlob</h1>
                    <hr />
                  </div>
              </div> 
        <div class="main-login main-center">
          <form class="form-horizontal" method="post" action="#">
            
            <div class="form-group">
                  <%= f.label :name ,:class => "cols-sm-2 control-label "%>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                  <%= f.text_field :name, autofocus: true ,:class => "control-label ",placeholder: "Enter your Name" %>
                </div>
              </div>
            </div>


            <div class="form-group">
                  <%= f.label :email , :class => "cols-sm-2 control-label " %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "control-label " ,placeholder: "Enter your Email" %>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",:class => "control-label " ,placeholder: "Enter your Email" %>
                </div>
              </div>
            </div>


            <div class="form-group">
                  <%= f.label :password ,:class => "cols-sm-2 control-label "%>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <%= f.password_field :password, autocomplete: "off" ,:class =>"control-label " ,placeholder: "Enter your Password" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
              <%= f.label :password_confirmation,:class => "cols-sm-2 control-label" %><br />
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <%= f.password_field :password_confirmation, autocomplete: "off",:class => "cols-sm-2 control-label ",placeholder: "Confirm your Password" %>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <button type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
            </div>
            <div class="login-register">
                    <a href="index.php">Login</a>
                 </div>
          </form>
        </div>
      </div>
    </div>

