<body class="loginback">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
<div class="panel-title" style="padding-left: 20%">
                    <h1 class="title">Welcome To Otlob</h1>
                    <hr />
                  </div>
    <div class="container">
      <div class="row main">
        <div class="col-md-12 " style="padding-left: 40% ">

        <div class="main-login main-center">
          <form class="form-horizontal" method="post" action="#">
             <div class="form-group">
              <div class="box">

               <%= f.label :image %>
                 <div class="image cols-sm-10">
                    <%= f.file_field :uimage, id: :user_name ,:class => "control-label hi" %>
                  </div>
                </div>
 </div>
            <div class="form-group">
                  <%= f.label :name ,:class => "cols-sm-2 control-label "%>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i " style="height: 10px;" class="fa fa-users fa" aria-hidden="true"></i></span>
                  <%= f.text_field :name, autofocus: true ,:class => "control-label hi",placeholder: "Enter your Name" %>
                </div>
              </div>
            </div>


            <div class="form-group">
                  <%= f.label :email , :class => "cols-sm-2 control-label " %><br />
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i style="height: 10px;" class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",:class => "control-label hi" ,placeholder: "Enter your Email" %>
                </div>
              </div>
            </div>


            <div class="form-group">
                  <%= f.label :password ,:class => "cols-sm-2 control-label ",:style => "color:black;"%>
                  <% if @minimum_password_length %>
                  <em style="color: black;">(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i style="height: 10px;" class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <%= f.password_field :password, autocomplete: "off" ,:class =>"control-label hi" ,placeholder: "Enter your Password" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation,:class => "cols-sm-2 control-label" ,:style => "color:black;" %><br />
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i style="height: 10px;" class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <%= f.password_field :password_confirmation, autocomplete: "off",:class => "cols-sm-2 control-label hi",placeholder: "Confirm your Password" %>
                </div>
              </div>
            </div>

            <div class="form-group ">
                  <%= f.submit "Sign up",:class =>"button hi" %>
            </div>
                 <% end %>
          </form>
        </div>
      </div>
    </div>            
  </div>

</body>

<%= render "devise/shared/links" %>
