<body class="loginback">
<div class="row">
<div >
<h2 >Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <ul class="col-md-14 text-center divborder">
    <li>
     <div class="image col-md-6">
        <%= f.label :image %>
        <%= f.file_field :uimage, id: :user_name ,:class => "button" %>
      </div>
    </li>
    <li>
  <div class=" field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true%>
  </div>
  </li>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions ">
    <%= f.submit "Sign up",:class =>"button " %>
  </div>
<% end %>
</ul>
</div>
</div>
<%= render "devise/shared/links" %>
</body>