<p id="notice"><%= notice %></p>

<%= hidden_field_tag "usergps", @userGroupsNames %>

  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class=" knockout" id="userGroups" UID="<%= current_user.id %>">Groups</h1>
<div class="divborder" >
      <h3 >Adding group</h3>
      <p>name</p>
      <input id="group">
      <button class="btn-cta" onclick="addGroup()">add</button>
</div>
  </div>
  <div class="col-md-6 " id="groupContainer">
    <% if @userGroups.size != 0 %>
      <h3 style="padding-top: 150px";>My Groups</h3>
      <div class="emshy divborder">
      <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody  id="groupsList">
        <% @userGroups.each do |group| %>
          <% if group.user_id == current_user.id%>
            <tr>
              <td><%= group.name %></td>
              <td><i class="fa fa-user-plus" style="font-size:36px;color:blue" onclick="editGroup(this)"></i></td>
              <td><i id="<%= group.id %>" class="fa fa-remove" style="font-size:36px;color:red" onclick="deleteGroup(this)"></i></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
</div>
    </table>
    </br>
    <div id="edittingGroup" gid="<%= @userGroups.first.id %>">
      <h3 id="gname"><%= @userGroups.first.name %></h3>
      <p>your friend name</p>
      <input class="field" id="friend">
      <button class="btn-cta" onclick="addFriendToGroup()">add</button>
      <div id="friendList">
        <% @userGroups.first.friendships.each do |fs| %>
          <div>
            <%= image_tag User.find(fs.friend_id).uimage (:thumb)  %>
            <p><%= User.find(fs.friend_id).name %></p>
            <p id="<%=fs.friend_id%>" onclick="removeFriendFromGroup(this)" class="removeLink">remove</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
    </div>
</div>
</div>
</div>
</div>
