<p id="notice"><%= notice %></p>

<h1>Groups</h1>
<h3>Adding group</h3>
<p>name</p>
<input id="group">
<button onclick="addGroup()">add</button>
<% if @userGroups.size != 0 %>
  <h3>My Groups</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="groupsList">
      <% @userGroups.each do |group| %>
        <% if group.user_id == current_user.id%>
          <tr>
            <td><%= group.name %></td>
            <td><%= link_to 'Edit', edit_group_path(group) %></td>
            <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </br>
  <h3><%= @userGroups.first.name %></h3>
  <p>your friend name</p>
  <input id="friend">
  <button onclick="addFriendToGroup()">add</button>
  <div id="friendList">
    <% @userGroups.first.friendships.each do |fs| %>
      <p><%= User.find(fs.friend_id).name %></p>
    <% end %>
  </div>
<% end %>
<script type="text/javascript">
  function addGroup(){
    gname = $("#group").val()
      $.ajax({ 
          method: 'post',
          url: '/groups', 
          data: {name:gname, user_id:'<%=current_user.id%>', authenticity_token:$('meta[name="csrf-token"]').attr("content")},
          success: function(result){$("#groupsList").append('<tr><td>'+result["str"]+'</td><td>dfgszd</td><td>sd</td></tr>')}
      })
  }
  function addFriendToGroup(){
    fname = $("#friend").val()
      $.ajax({ 
          method: 'post',
          url: '/friendships_groups', 
          data: {friendName:fname, group_id:'<%=@userGroups.first.id%>', authenticity_token:$('meta[name="csrf-token"]').attr("content")},
          dataType: "json",
          success: function(result){$("#friendList").append('<p>'+result["str"]+'</p>')}
      })
  }
</script>