<p id="notice"><%= notice %></p>

<h1>Orders</h1>
      <% if @userOrders.size != 0 %>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Place</th>
      <th>Invited</th>
      <th>Joiend</th>
      <th>Status</th>
      <th>Actions</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @userOrders.each do |order| %>
 
            <tr>
              <% if order.orderType == false  %>
                <td> BreakFast  </td>
              <% else %>
                <td> Lunch </td>
              <% end %>
              <td><%= order.place %></td>
              <td>10</td>
              <td>5</td>
              <% if order.status %>
              <td> Finished </td>
              <td><%= link_to 'view', order %></td>
              <% else %>
              <td>waiting</td>
              <td>
                <%= link_to 'view', order %>
                <p class="finishLink" id="<%= order.id %>" onclick="finish(this)">finish</p>
                <p class="finishLink" onclick="destroy(this)">cancel</p>
              </td>
              <% end %>
            </tr>
      <% end %>
  </tbody>
</table>
          <% else %>
       <p>you have no orders</p>
              <% end %>
<br>

<%= link_to 'Start New Order', new_order_path %>
