<p id="notice"><%= notice %></p>

<h1>Orders</h1>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Place</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% if order == nil %>
        <p>you have no orders</p>
          <% else %>
            <tr>
              <% if order.orderType == false  %>
                <td> BreakFast  </td>
              <% else %>
                <td> Lunch </td>
              <% end %>
              <td><%= order.place %></td>
              <td><%= order.user.name %></td>
              <td><%= link_to 'Show', order %></td>
              <td><%= link_to 'Finish', edit_order_path(order) %></td>
              <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              
            </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Order', new_order_path %>
