
 <h1 class=""> Order Details  <h1>
  <div id="creatorIndo">
    Menu
    <%= image_tag @order.Menu.url ( :medium ) %>
  </div>
 <%= hidden_field_tag "orderId", @order.id%>
 <%=hidden_field_tag  "MyId" , current_user.id %>
<div id="ordersTable">
<table id="orders" class="table">
  <tr>
    <th style="color: white;" data-field="Person">Person</th>
    <th style="color: white;" data-field="Item">Item</th>
    <th style="color: white;" data-field="Amount">Amount</th>
    <th style="color: white;" data-field="Price">Price</th>
    <th style="color: white;" data-field="Comment">Comment</th>
  </tr>
  <% @order.joineds.each do |j| %>
    <% if j.items.size != 0 %>
      <% j.items.each do |i| %>
        <tr  value="<%=Joined.find(i.joined_id).user_id %>"  id="<%= i.id %>">
        <td><%= User.find(Joined.find(i.joined_id).user_id).name %></td>
        <td><%= i.name %></td>
        <td><%= i.amount %></td>
        <td><%= i.price %></td>
        <td><%= i.comment %></td>
        <td><button id="cancel" onclick="cancelitem(this)"> cancel </button></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
</div>

<div id="links">
<%= link_to 'friends invited click to view', InvitedFriends_path(:order => @order.id) %> <br>
<%= link_to 'friends Joined click to view', JoinedFriends_path(:order => @order.id) %>
</div>
<div class="row">
<div class="col-md-5" id="addITem">
  <span>item </span>
  <input id="item" type="text">

    <span>price </span>
    <input type="number" id="price" name="price" min="0" max="1000"  value="3">

      <span>amount </span>
     <input type="number" id="amount" name="amount" min="0" max="1000"  value="1">

    <span>comment </span>
  <input id="comment" type="text">

  <button class="button" type="button" id="addItemBtn" onclick="addItemFunct()">add </button>
</div>
</div>
