
 <h1> Order Details  <h1>
 <%= hidden_field_tag "orderId", @order.id%>

<div id="ordersTable">
<table id="orders" border="1">
  <tr>
    <th>Person</th>
    <th>Item</th>
    <th>amount</th>
    <th>Price</th>
    <th>Comment</th>
  </tr>
  <% @order.joineds.each do |j| %>
    <% if j.items.size != 0 %>
      <% j.items.each do |i| %>
        <tr>
        <td><%= User.find(Joined.find(i.joined_id).user_id).name %></td>
        <td><%= i.name %></td>
        <td><%= i.amount %></td>
        <td><%= i.price %></td>
        <td><%= i.comment %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
<div>

<div id="links">
<%= link_to 'friends invited click to view', InvitedFriends_path(:order => @order.id) %>
<p><a>friends joined click to view</a></p>
</div>

<div id="addITem">
  <span>item </span>
  <input id="item" type="text">

    <span>price </span>
    <input type="number" id="price" name="price" min="0" max="1000"  value="3">

      <span>amount </span>
     <input type="number" id="amount" name="amount" min="0" max="1000"  value="1">

    <span>comment </span>
  <input id="comment" type="text">

  <button type="button" id="addItemBtn" onclick="addItemFunct()">add </button>
</div>
