<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <% if @order.orderType == 0 %>
  breakfast
  <%else %>
  lunch
  <%end %>
</p>

<p>
  <strong>Place:</strong>
  <%= @order.place %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<p>
<%= image_tag @order.Menu.url ( :medium ) %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
