<%= form_with(model: joined, local: true) do |form| %>
  <% if joined.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(joined.errors.count, "error") %> prohibited this joined from being saved:</h2>

      <ul>
      <% joined.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id, id: :joined_order_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :joined_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
