<!DOCTYPE html>
<html>
  <head>
    <title>Otlob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body class="body font" >
     <nav class="navbar navbar-dark bg-dark" id="topNav">

      <div class="container">
 
        <div id="navbarResponsive">
      <ul class="nav navbar-nav navbar-left" style="padding: 18px;">
            <li class="nav-item active">
              <%= link_to 'Home ' , home_index_url , :class => "nav-link" %>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <%= link_to 'Friends ' , friendships_url , :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Groups ' , groups_url , :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Orders ' , new_order_url , :class => "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1 class="font"></h1>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
    <% else %>
      <li><%= link_to('Login', new_user_session_path)  %>  </li>
    <% end %>
    <%= yield %>
  </body>
</html>
