<!DOCTYPE html>
<html>
  <head>
    <title>Otlob</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'fresh-bootstrap-table',media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'animate', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
  <div id="notify">
    <% if @notifications.size !=0 %>
      <% @notifications.each do |n| %>
        <%= n.message %>
        <%= time_ago_in_words(n.created_at) %>
        ago
        </br>
      <% end %>
    <% end %>
  </div>
  <div class="gtco-loader"></div>
  
  <nav class="gtco-nav" role="navigation">

    <div class="gtco-container">
 
      <div class="row">
        <div class="col-sm-4 col-xs-4">
          <div id="gtco-logo"> 
            <%= image_tag("otlop.png", class: "img-responsive image", id: "navbar-logo") %>
          </div>
        </div>
              <div class="col-xs-8 text-right menu-1">
          <ul>
              
             <% if user_signed_in? %>
                <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
              <% else %>
                <li><%= link_to('Login', new_user_session_path)  %>  </li>
              <% end %>

              <!-- Notification Icon -->

            <!-- end notificatuion -->
            <li class="nav-item active">
              <%= link_to 'Home |' , home_index_url , :class => "btn-cta" %>
            </li>
            <li class="nav-item">

              <%= link_to 'Friends |' , new_friendship_url , :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Groups |' , groups_url , :class => "btn-cta" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Orders |' , orders_url , :class => "btn-cta" %>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </nav>
    <div id="notifications">
    </div>

    <div class="footer">
      <p>Copy Rights resreved for Otlob©</p>
      
    </div>

    <%= yield %>
    <%= javascript_include_tag 'JSGroups'%>
    <%= javascript_include_tag 'jquery.min'%>
    <%= javascript_include_tag 'jquery.waypoints.min'%>
    <%= javascript_include_tag 'main'%>
    <%= javascript_include_tag 'owl.carousel.min'%>
    <%= javascript_include_tag 'orderJs'%>


  </body>
</html>
